<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://www.thymeleaf.com">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	<title>LibroLink</title>
	<script src="https://kit.fontawesome.com/830fec2588.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<a class="navbar-brand text-light" href="#">LibroLink</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#conteudoNavbarSuportado"
			aria-controls="conteudoNavbarSuportado" aria-expanded="false"
			aria-label="Alterna navegação">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a
					class="nav-link active text-white" href="/">Início <span
						class="sr-only">(página atual)</span></a></li>
				<li class="nav-item"><a class="nav-link active text-white"
					href="libros_disponiveis">Catálogo de livros</a></li>

			</ul>

	</nav>

<div class="container text-center my-5">
	<h1>LibroLink</h1>
	<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tortor magna, lobortis non rutrum sit amet, maximus id risus. In ut arcu pellentesque, ullamcorper sapien id, ornare dolor. Aliquam dignissim urna sit amet justo sagittis placerat. Aliquam mattis leo egestas scelerisque fringilla. Suspendisse mattis quam vitae lorem dignissim convallis. Etiam tempor mattis porttitor. Integer et ullamcorper augue, ut malesuada nisl. Fusce ac tempor sem. Praesent luctus sed enim a porta. Pellentesque volutpat malesuada arcu auctor fringilla. Proin malesuada lectus et blandit molestie. Donec ullamcorper ante id est dapibus laoreet at eget purus. Suspendisse vestibulum erat a ante auctor egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Etiam egestas tristique ipsum, eget cursus nulla imperdiet a. Quisque volutpat commodo odio, et dictum libero dapibus vel.

Ut in ultrices augue. Curabitur ac enim elit. Suspendisse ut convallis nisl. Phasellus eget nibh et nibh facilisis commodo. Donec sem purus, vulputate vitae turpis sed, fermentum viverra mauris. Aliquam facilisis, urna eget lacinia pulvinar, massa tortor varius dolor, eu finibus risus orci ac justo. Aliquam facilisis mauris tellus. Suspendisse augue enim, finibus et tempus sed, vehicula vitae massa.

</h6>
	<img src="/imgs/bg.png" width="450px">
</div>

	
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>